.footer{
    bottom: 0;           
    background-color: rgb(247, 247, 247);
    /* position: absolute; */
    position: absolute;
    width: 100%;
    height: 7%;
}
.footer p{
    padding: 3px;
    font-family: sans-serif;
    color: #000000;
    text-align: center;
}
.footer p i{
    margin: 2px 15px 5px;
    font-size: 35px; 
} 