.navbar{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    background-color: rgb(247, 247, 247);
}
.navbar ul{
    list-style: none;
    display: flex;
}

.link{
    text-decoration: none;
    color: black;
    margin-left: 45px;
}